{% extends 'mainapp/base.html' %}
{% load static %}

    {% block leftregmenu %}
        {% include 'mainapp/includes/inc_left_reg_menu.html' %}
    {% endblock leftregmenu %}

    {% block rightregmenu %}
        {% include 'mainapp/includes/inc_reg_menu.html' %}
    {% endblock rightregmenu %}

    {% block menu %}
    <div id="header">
        <div class="container">
            <div class="navbar red-2 navbar-default yamm">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid"
                            class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button>
                </div>
                <div id="navbar-collapse-grid" class="navbar-collapse collapse">
                    {% include 'mainapp/includes/inc_menu.html' %}
                    <br/>
                    <a href="Sales-and-deals.html" class="dropdown-toggle pull-right btn btn-red btn-xround">Акция</a></div>
            </div>
        </div>
    </div>
    {% endblock menu %}

    {% block content %}
    <div class="clearfix"></div>

    <!-- masterslider -->
    <div class="master-slider ms-skin-default" id="masterslider">

        <!-- slide 1 -->
        <div class="ms-slide slide-1" data-delay="9">
            <div class="slide-pattern"></div>

            <img src="{% static 'js/masterslider/blank.gif' %}" data-src="{% static 'images/sliders/masterslider/masterslider-1.jpg' %}" alt=""/>

            <h3 class="ms-layer text35"
                style="top: 180px; left:230px;"
                data-type="text"
                data-delay="500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> Кухни лофт</h3>

            <h3 class="ms-layer text35"
                style="top:240px; left:230px;"
                data-type="text"
                data-delay="1000"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> распродажа </h3>

            <h3 class="ms-layer text3"
                style="top: 310px; left:230px;"
                data-type="text"
                data-delay="1500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> Большая большая распродажа!<br/>
                Успевай приобрести!</h3>

            <a class="ms-layer sbut15"
               style="left: 230px; top: 380px;"
               data-type="text"
               data-delay="2000"
               data-ease="easeOutExpo"
               data-duration="1200"
               data-effect="scale(1.5,1.6)"> Подробнее </a>

            <div class="ms-layer offer-badge"
                 style="left:700px; top:200px"
                 data-effect="bottom(150)"
                 data-duration="2500"
                 data-ease="easeOutExpo"
            ><br/>
                60%<br/>
                на<br/>
                кухни
            </div>

        </div>
        <!-- end slide 1 -->


        <!-- slide 2 -->
        <div class="ms-slide slide-2" data-delay="9">
            <div class="slide-pattern"></div>

            <img src="{% static 'js/masterslider/blank.gif' %}" data-src="{% static 'images/sliders/masterslider/masterslider-2.jpg' %}" alt=""/>

            <h3 class="ms-layer text35"
                style="top: 180px; left:230px;"
                data-type="text"
                data-delay="500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="left(250)"> Спальни</h3>

            <h3 class="ms-layer text35"
                style="top:240px; left:230px;"
                data-type="text"
                data-delay="1000"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="right(250)"> распродажа</h3>

            <h3 class="ms-layer text3"
                style="top: 310px; left:230px;"
                data-type="text"
                data-delay="1500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> Большие скидки на всё
                от 30 % на спальни <br/>
                Торопись !</h3>

            <a class="ms-layer sbut15"
               style="left: 230px; top: 380px;"
               data-type="text"
               data-delay="2000"
               data-ease="easeOutExpo"
               data-duration="1200"
               data-effect="scale(1.5,1.6)"> Подробнее </a>

            <div class="ms-layer offer-badge"
                 style="left:700px; top:200px"
                 data-effect="bottom(150)"
                 data-duration="2500"
                 data-ease="easeOutExpo"
            ><br/>
                30%<br/>
                на<br/>
                спальни
            </div>

        </div>
        <!-- end slide 2 -->


        <!-- slide 3 -->
        <div class="ms-slide slide-3" data-delay="9">
            <div class="slide-pattern"></div>

            <img src="{% static 'js/masterslider/blank.gif' %}" data-src="{% static 'images/sliders/masterslider/masterslider-3.jpg' %}" alt=""/>

            <h3 class="ms-layer text35"
                style="top: 180px; left:230px;"
                data-type="text"
                data-delay="500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="left(250)"> Мужская берлога</h3>

            <h3 class="ms-layer text35"
                style="top:240px; left:230px;"
                data-type="text"
                data-delay="1000"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="right(250)"> распродажа</h3>

            <h3 class="ms-layer text3"
                style="top: 310px; left:230px;"
                data-type="text"
                data-delay="1500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> На все мужские берлоги действуют скидки
                30 % на берлогу <br/>
                Скорее, торопись!</h3>

            <a class="ms-layer sbut15"
               style="left: 230px; top: 380px;"
               data-type="text"
               data-delay="2000"
               data-ease="easeOutExpo"
               data-duration="1200"
               data-effect="scale(1.5,1.6)"> Подробнее </a>

            <div class="ms-layer offer-badge"
                 style="left:700px; top:200px"
                 data-effect="bottom(150)"
                 data-duration="2500"
                 data-ease="easeOutExpo"
            ><br/>
                60%<br/>
                Off<br/>
                Sales
            </div>

        </div>
        <!-- end slide 3 -->

    </div>
    <!-- end of masterslider -->
    <div class="clearfix"></div>

    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-box69 bmargin">
                        <div class="image-holder">
                            <div class="overlay bg-opacity-1">
                                <h3 class="title1 text-white uppercase roboto-slab font-weight-7 less-mar1">
                                    Спальни</h3>
                                <h2 class="title2 text-white uppercase roboto-slab font-weight-3">Лофт</h2>
                            </div>
                            <img src="{% static 'images/media/image-600-300-1.jpg' %}" alt="" class="img-responsive"/></div>
                    </div>
                </div>
                <!--end item-->

                <div class="col-md-6">
                    <div class="feature-box69 bmargin">
                        <div class="image-holder">
                            <div class="overlay bg-opacity-1">
                                <h3 class="title1 text-white uppercase roboto-slab font-weight-7 less-mar1">
                                    Мужские берлоги</h3>
                                <h2 class="title2 text-white uppercase roboto-slab font-weight-3">Лофт</h2>
                            </div>
                            <img src="{% static 'images/media/image-600-300-2.jpg' %}" alt="" class="img-responsive"/></div>
                    </div>
                </div>
                <!--end item-->

            </div>
        </div>
    </section>
    <!-- end section -->
    <div class="clearfix"></div>

    <section class="sec-bpadding-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <h4 class="section-title-7"><span class="roboto-slab uppercase">Рекомендуем товары</span></h4>
                </div>
                <!--end title-->

                {% for product in products %}
                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="{{ product.image }}">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="{{ media_url }}{{ product.image }}" alt="{{ product.name }}" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="{{ product.image }}">{{ product.name }}</a>
                    </h5>
                    <p>{{ product.short_desc }}</p>
                    <h5 class="text-red-4">{{ product.price }}</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end section -->
    <div class="clearfix"></div>

    <section class="parallax-section53">
        <div class="section-overlay bg-opacity-5">
            <div class="container sec-tpadding-3 sec-bpadding-3">
                <div class="row">
                    <div class="col-md-8 col-centered">
                        <h1 class="text-white parallax-section-title uppercase roboto-slab font-weight-6 less-mar1">
                            Кухни лофт</h1>
                        <h4 class="parallax-section-title-2 uppercase text-white">коллекция 2020</h4>
                        <br/>
                        <p class="text-white">Изготовление кухонь в стиле лофт на заказ, производство дизайнерской мебели для кухни<span
                                class="text-red-4">из металла, массива дерева и стекла на заказ в Москве.</span> Сегодня кухня в стиле LOFT
                            приобретает все большую и большую популярность. Такие предложения позволяют совершенно по-новому оформить комнату.
                            Стиль лофт наиболее актуален для помещений, которые изначально не предназначались для жилья.
                            Речь идет о промышленных складах, о старых заводах и так далее. Однако «сочетание несочетаемого»
                            и кухни лофт на заказ могут быть оформлены и в жилом помещении – в квартире,
                            доме, а также административных зданиях и так далее. </p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <h4 class="section-title-7"><span class="roboto-slab uppercase">Популярные товары</span></h4>
                </div>
                <!--end title-->

                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="women-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="{% static 'images/media/image-300-400-1.jpg' %}" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="women-product-preview.html">Диван Медведь</a>
                    </h5>
                    <p>Комплект Берлога Сибирская</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="men-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="{% static 'images/media/image-300-400-2.jpg' %}" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="men-product-preview.html">Барная стойка Дуб</a></h5>
                    <p>Идеальный вариант для вашей кухни</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

                <div class="col-md-3 col-sm-6 bmargin">

                    <div class="shop-product-holder">
                        <a href="women-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="{% static 'images/media/image-300-400-3.jpg' %}" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="women-product-preview.html">Обеденный стол</a></h5>
                    <p>Коллекция "В большой семье ..."</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="men-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="{% static 'images/media/image-300-400-4.jpg' %}" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="men-product-preview.html">Полка "что надо"</a></h5>
                    <p>Не то что надо, а нужно!</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

            </div>
        </div>
    </section>
    <!-- end section -->
    <div class="clearfix"></div>

    <section class="sec-padding section-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="uppercase roboto-slab ">ПОДПИШИТЕСЬ НА НАШИ НОВОСТИ И АКЦИИ</h3>
                    <p class="sub-title">Мы не будем слать Вам спам каждый день, только нужная информация об акциях и скидках</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="input_holder">
                        <input class="email_input two" type="search" placeholder="Введите Ваш Email">
                        <input name="submit" value="Хочу" class="email_submit two" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <section class="sec-moreless-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="clientlogo-list two">
                        <li><img src="{% static 'images/media/site-img41.jpg' %}" alt=""/></li>
                        <li><img src="{% static 'images/media/site-img42.jpg' %}" alt=""/></li>
                        <li><img src="{% static 'images/media/site-img43.jpg' %}" alt=""/></li>
                        <li><img src="{% static 'images/media/site-img44.jpg' %}" alt=""/></li>
                        <li class="last"><img src="{% static 'images/media/site-img45.jpg' %}" alt=""/></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--end section -->
    <div class="clearfix"></div>
    {% endblock content %}