<!doctype html>
<!--[if IE 7 ]>
<html lang="ru-ru" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>
<html lang="ru-ru" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>
<html lang="ru-ru" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<!--<![endif]-->
<!--<![endif]-->
<html lang="ru">
<head>
    <title>Simple Loft - мебель в стиле лофт</title>
    <meta charset="utf-8">
    <!-- Meta -->
    <meta name="keywords" content=""/>
    <meta name="author" content="">
    <meta name="robots" content=""/>
    <meta name="description" content=""/>

    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Stylesheets -->
    <link rel="stylesheet" media="screen" href="/static/js/bootstrap/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/js/mainmenu/menu.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/default.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/layouts.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/shortcodes.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="/static/css/responsive-leyouts.css" type="text/css"/>
    <link rel="stylesheet" href="/static/js/masterslider/style/masterslider.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/Simple-Line-Icons-Webfont/simple-line-icons.css"
          media="screen"/>
    <link rel="stylesheet" href="/static/css/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="/static/css/colors/mossgreen.css"/>


    <!-- Remove the below comments to use your color option -->
    <!--<link rel="stylesheet" href="css/colors/lightblue.css" />-->
    <!--<link rel="stylesheet" href="css/colors/orange.css" />-->
    <!--<link rel="stylesheet" href="css/colors/green.css" />-->
    <!--<link rel="stylesheet" href="css/colors/pink.css" />-->
    <!--<link rel="stylesheet" href="css/colors/red.css" />-->
    <!--<link rel="stylesheet" href="css/colors/purple.css" />-->
    <!--<link rel="stylesheet" href="css/colors/bridge.css" />-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css" />-->
    <!--<link rel="stylesheet" href="css/colors/violet.css" />-->
    <!--<link rel="stylesheet" href="css/colors/cyan.css" />-->
    <!--<link rel="stylesheet" href="css/colors/mossgreen.css" />-->

</head>

<body>
<div class="site_wrapper">
    <div class="topbar dark topbar-padding">
        <div class="container">
            <div class="topbar-left-items">
                <ul class="toplist toppadding pull-left paddtop1">
                    <li class="rightl">Звоните нам</li>
                    <li>8 983 45 78 640</li>
                </ul>
            </div>
            <!--end left-->

            <div class="topbar-right-items pull-right">
                <ul class="toplist toppadding">
                    <li><a href="#"><i class="fa fa-search"></i> &nbsp;</a></li>
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    <li class="last"><a href="#"> USD <i class="fa fa-angle-down"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="topbar white">
        <div class="container">
            <div class="topbar-left-items">
                <div class="margin-top1"></div>
                <ul class="toplist toppadding pull-left paddtop1">
                    <li class="lineright"><a href="#">Вход в личный кабинет</a></li>
                    <li><a href="#">Регистрация</a></li>
                </ul>
            </div>
            <!--end left-->

            <div class="topbar-middle-logo no-bgcolor"><a href="index.html"><img src="/static/images/logo.png" alt=""/></a>
            </div>
            <!--end middle-->

            <div class="topbar-right-items pull-right">
                <div class="margin-top1"></div>
                <ul class="toplist toppadding">
                    <li class="lineright"><a href="#">Мой аккаунт</a></li>
                    <li class="lineright"><a href="#">Выйти</a></li>
                    <li class="last"><a href="#">Корзина (0)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="header">
        <div class="container">
            <div class="navbar red-2 navbar-default yamm">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid"
                            class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button>
                </div>
                <div id="navbar-collapse-grid" class="navbar-collapse collapse">
                    <ul class="nav red-2 navbar-nav">
                        <li class="dropdown"><a href="/" class="dropdown-toggle active">Главная</a></li>
                        <li class="dropdown"><a href="/products/" class="dropdown-toggle active">Каталог</a></li>
                        <li class="dropdown"><a href="/contact" class="dropdown-toggle active">Контаты</a></li>
                    </ul>
                    <br/>
                    <a href="Sales-and-deals.html" class="dropdown-toggle pull-right btn btn-red btn-xround">Акция</a></div>
            </div>
        </div>
    </div>
    <!--end menu-->
    <div class="clearfix"></div>

    <!-- masterslider -->
    <div class="master-slider ms-skin-default" id="masterslider">

        <!-- slide 1 -->
        <div class="ms-slide slide-1" data-delay="9">
            <div class="slide-pattern"></div>

            <img src="/static/js/masterslider/blank.gif" data-src="/static/images/sliders/masterslider/masterslider-1.jpg" alt=""/>

            <h3 class="ms-layer text35"
                style="top: 180px; left:230px;"
                data-type="text"
                data-delay="500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> Кухни лофт</h3>

            <h3 class="ms-layer text35"
                style="top:240px; left:230px;"
                data-type="text"
                data-delay="1000"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> распродажа </h3>

            <h3 class="ms-layer text3"
                style="top: 310px; left:230px;"
                data-type="text"
                data-delay="1500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> Большая большая распродажа!<br/>
                Успевай приобрести!</h3>

            <a class="ms-layer sbut15"
               style="left: 230px; top: 380px;"
               data-type="text"
               data-delay="2000"
               data-ease="easeOutExpo"
               data-duration="1200"
               data-effect="scale(1.5,1.6)"> Подробнее </a>

            <div class="ms-layer offer-badge"
                 style="left:700px; top:200px"
                 data-effect="bottom(150)"
                 data-duration="2500"
                 data-ease="easeOutExpo"
            ><br/>
                60%<br/>
                на<br/>
                кухни
            </div>

        </div>
        <!-- end slide 1 -->


        <!-- slide 2 -->
        <div class="ms-slide slide-2" data-delay="9">
            <div class="slide-pattern"></div>

            <img src="/static/js/masterslider/blank.gif" data-src="/static/images/sliders/masterslider/masterslider-2.jpg" alt=""/>

            <h3 class="ms-layer text35"
                style="top: 180px; left:230px;"
                data-type="text"
                data-delay="500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="left(250)"> Спальни</h3>

            <h3 class="ms-layer text35"
                style="top:240px; left:230px;"
                data-type="text"
                data-delay="1000"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="right(250)"> распродажа</h3>

            <h3 class="ms-layer text3"
                style="top: 310px; left:230px;"
                data-type="text"
                data-delay="1500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> Большие скидки на всё
                от 30 % на спальни <br/>
                Торопись !</h3>

            <a class="ms-layer sbut15"
               style="left: 230px; top: 380px;"
               data-type="text"
               data-delay="2000"
               data-ease="easeOutExpo"
               data-duration="1200"
               data-effect="scale(1.5,1.6)"> Подробнее </a>

            <div class="ms-layer offer-badge"
                 style="left:700px; top:200px"
                 data-effect="bottom(150)"
                 data-duration="2500"
                 data-ease="easeOutExpo"
            ><br/>
                30%<br/>
                на<br/>
                спальни
            </div>

        </div>
        <!-- end slide 2 -->


        <!-- slide 3 -->
        <div class="ms-slide slide-3" data-delay="9">
            <div class="slide-pattern"></div>

            <img src="/static/js/masterslider/blank.gif" data-src="/static/images/sliders/masterslider/masterslider-3.jpg" alt=""/>

            <h3 class="ms-layer text35"
                style="top: 180px; left:230px;"
                data-type="text"
                data-delay="500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="left(250)"> Мужская берлога</h3>

            <h3 class="ms-layer text35"
                style="top:240px; left:230px;"
                data-type="text"
                data-delay="1000"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="right(250)"> распродажа</h3>

            <h3 class="ms-layer text3"
                style="top: 310px; left:230px;"
                data-type="text"
                data-delay="1500"
                data-ease="easeOutExpo"
                data-duration="1230"
                data-effect="scale(1.5,1.6)"> На все мужские берлоги действуют скидки
                30 % на берлогу <br/>
                Скорее, торопись!</h3>

            <a class="ms-layer sbut15"
               style="left: 230px; top: 380px;"
               data-type="text"
               data-delay="2000"
               data-ease="easeOutExpo"
               data-duration="1200"
               data-effect="scale(1.5,1.6)"> Подробнее </a>

            <div class="ms-layer offer-badge"
                 style="left:700px; top:200px"
                 data-effect="bottom(150)"
                 data-duration="2500"
                 data-ease="easeOutExpo"
            ><br/>
                60%<br/>
                Off<br/>
                Sales
            </div>

        </div>
        <!-- end slide 3 -->

    </div>
    <!-- end of masterslider -->
    <div class="clearfix"></div>

    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-box69 bmargin">
                        <div class="image-holder">
                            <div class="overlay bg-opacity-1">
                                <h3 class="title1 text-white uppercase roboto-slab font-weight-7 less-mar1">
                                    Спальни</h3>
                                <h2 class="title2 text-white uppercase roboto-slab font-weight-3">Лофт</h2>
                            </div>
                            <img src="/static/images/media/image-600-300-1.jpg" alt="" class="img-responsive"/></div>
                    </div>
                </div>
                <!--end item-->

                <div class="col-md-6">
                    <div class="feature-box69 bmargin">
                        <div class="image-holder">
                            <div class="overlay bg-opacity-1">
                                <h3 class="title1 text-white uppercase roboto-slab font-weight-7 less-mar1">
                                    Мужские берлоги</h3>
                                <h2 class="title2 text-white uppercase roboto-slab font-weight-3">Лофт</h2>
                            </div>
                            <img src="/static/images/media/image-600-300-2.jpg" alt="" class="img-responsive"/></div>
                    </div>
                </div>
                <!--end item-->

            </div>
        </div>
    </section>
    <!-- end section -->
    <div class="clearfix"></div>

    <section class="sec-bpadding-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <h4 class="section-title-7"><span class="roboto-slab uppercase">Рекомендуем товары</span></h4>
                </div>
                <!--end title-->

                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="women-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="/static/images/media/image-300-400-1.jpg" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="women-product-preview.html">Диван Медведь</a>
                    </h5>
                    <p>Комплект Берлога Сибирская</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="men-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="/static/images/media/image-300-400-2.jpg" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="men-product-preview.html">Барная стойка Дуб</a></h5>
                    <p>Идеальный вариант для вашей кухни</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

                <div class="col-md-3 col-sm-6 bmargin">

                    <div class="shop-product-holder">
                        <a href="women-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="/static/images/media/image-300-400-3.jpg" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="women-product-preview.html">Обеденный стол</a></h5>
                    <p>Коллекция "В большой семье ..."</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="men-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="/static/images/media/image-300-400-4.jpg" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="men-product-preview.html">Полка "что надо"</a></h5>
                    <p>Не то что надо, а нужно!</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

            </div>
        </div>
    </section>
    <!-- end section -->
    <div class="clearfix"></div>

    <section class="parallax-section53">
        <div class="section-overlay bg-opacity-5">
            <div class="container sec-tpadding-3 sec-bpadding-3">
                <div class="row">
                    <div class="col-md-8 col-centered">
                        <h1 class="text-white parallax-section-title uppercase roboto-slab font-weight-6 less-mar1">
                            Кухни лофт</h1>
                        <h4 class="parallax-section-title-2 uppercase text-white">коллекция 2020</h4>
                        <br/>
                        <p class="text-white">Изготовление кухонь в стиле лофт на заказ, производство дизайнерской мебели для кухни<span
                                class="text-red-4">из металла, массива дерева и стекла на заказ в Москве.</span> Сегодня кухня в стиле LOFT
                            приобретает все большую и большую популярность. Такие предложения позволяют совершенно по-новому оформить комнату.
                            Стиль лофт наиболее актуален для помещений, которые изначально не предназначались для жилья.
                            Речь идет о промышленных складах, о старых заводах и так далее. Однако «сочетание несочетаемого»
                            и кухни лофт на заказ могут быть оформлены и в жилом помещении – в квартире,
                            доме, а также административных зданиях и так далее. </p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <h4 class="section-title-7"><span class="roboto-slab uppercase">Популярные товары</span></h4>
                </div>
                <!--end title-->

                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="women-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="/static/images/media/image-300-400-1.jpg" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="women-product-preview.html">Диван Медведь</a>
                    </h5>
                    <p>Комплект Берлога Сибирская</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="men-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="/static/images/media/image-300-400-2.jpg" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="men-product-preview.html">Барная стойка Дуб</a></h5>
                    <p>Идеальный вариант для вашей кухни</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

                <div class="col-md-3 col-sm-6 bmargin">

                    <div class="shop-product-holder">
                        <a href="women-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="/static/images/media/image-300-400-3.jpg" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="women-product-preview.html">Обеденный стол</a></h5>
                    <p>Коллекция "В большой семье ..."</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

                <div class="col-md-3 col-sm-6 bmargin">
                    <div class="shop-product-holder">
                        <a href="men-product-preview.html">
                            <div class="image-holder">
                                <div class="hoverbox"><i class="fa fa-link"></i></div>
                                <img src="/static/images/media/image-300-400-4.jpg" alt="" class="img-responsive"/>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <h5 class="less-mar1 roboto-slab"><a href="men-product-preview.html">Полка "что надо"</a></h5>
                    <p>Не то что надо, а нужно!</p>
                    <h5 class="text-red-4">$ 25.00–$ 29.00</h5>
                    <br/>
                    <a class="btn btn-red-4 btn-small" href="#">В корзину</a></div>
                <!--end item-->

            </div>
        </div>
    </section>
    <!-- end section -->
    <div class="clearfix"></div>

    <section class="sec-padding section-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="uppercase roboto-slab ">ПОДПИШИТЕСЬ НА НАШИ НОВОСТИ И АКЦИИ</h3>
                    <p class="sub-title">Мы не будем слать Вам спам каждый день, только нужная информация об акциях и скидках</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="input_holder">
                        <input class="email_input two" type="search" placeholder="Введите Ваш Email">
                        <input name="submit" value="Хочу" class="email_submit two" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <section class="sec-moreless-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="clientlogo-list two">
                        <li><img src="/static/images/media/site-img41.jpg" alt=""/></li>
                        <li><img src="/static/images/media/site-img42.jpg" alt=""/></li>
                        <li><img src="/static/images/media/site-img43.jpg" alt=""/></li>
                        <li><img src="/static/images/media/site-img44.jpg" alt=""/></li>
                        <li class="last"><img src="/static/images/media/site-img45.jpg" alt=""/></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--end section -->
    <div class="clearfix"></div>

    <section class="section-light sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 clearfix">
                    <div class="footer-logo"><img src="/static/images/flogo.png" alt=""/></div>
                    <ul class="address-info-2">
                        <li>Адресс: Новый Арбат, Москва, Российская Федерация</li>
                         <li><i class="fa fa-phone"></i> Телефон: + 7 983 45 78 640</li>
                        <li><i class="fa fa-fax"></i> Факс: + 7 983 45 78 640</li>
                        <li><i class="fa fa-envelope"></i> Email: info@simpleloft.com</li>
                        <li><i class="fa fa-envelope"></i> Email: support@simpleloft.com</li>
                    </ul>
                </div>
                <!--end item-->

                <div class="col-md-3 clearfix">
                    <div class="item-holder">
                        <h4 class="uppercase footer-title two less-mar3 roboto-slab">Рекомендуем</h4>
                        <div class="footer-title-bottomstrip"></div>
                        <div class="clearfix"></div>
                        <div class="image-left"><img src="/static/images/media/image-80-80-1.jpg" alt=""/></div>
                        <div class="text-box-right">
                            <h6 class="less-mar3 nopadding roboto-slab nopadding"><a href="#">Кухни Лофт</a></h6>
                            <p>$12.59</p>
                            <div class="footer-post-info"><span><i class="fa fa-star"></i></span><span><i
                                    class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                    class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                        </div>
                        <div class="divider-line solid light margin"></div>
                        <div class="clearfix"></div>
                        <div class="image-left"><img src="/static/images/media/image-80-80-2.jpg" alt=""/></div>
                        <div class="text-box-right">
                            <h6 class="less-mar3 roboto-slab nopadding"><a href="#">Посуда лофт</a></h6>
                            <p>$12.59</p>
                            <div class="footer-post-info"><span><i class="fa fa-star"></i></span><span><i
                                    class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                    class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                        </div>
                    </div>
                </div>
                <!--end item-->

                <div class="col-md-3 clearfix">
                    <h4 class="uppercase footer-title two less-mar3 roboto-slab">Быстрые ссылки</h4>
                    <div class="clearfix"></div>
                    <div class="footer-title-bottomstrip"></div>
                    <ul class="usefull-links-2">
                        <li><a href="#"><i class="fa fa-angle-right"></i> Кровати лофт</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Стеллажи лофт</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Кухни лофт</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Берлоги лофт</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Столы лофт</a></li>
                    </ul>
                </div>
                <!--end item-->

                <div class="col-md-3 clearfix">
                    <div class="item-holder">
                        <h4 class="uppercase footer-title two less-mar3 roboto-slab">Популярные</h4>
                        <div class="footer-title-bottomstrip"></div>
                        <div class="clearfix"></div>
                        <div class="image-left"><img src="/static/images/media/image-80-80-2.jpg" alt=""/></div>
                        <div class="text-box-right">
                            <h6 class="less-mar3 nopadding roboto-slab nopadding"><a href="#">Посуда Лофт</a></h6>
                            <p>$12.59</p>
                            <div class="footer-post-info"><span><i class="fa fa-star"></i></span><span><i
                                    class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                    class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                        </div>
                        <div class="divider-line solid light margin"></div>
                        <div class="clearfix"></div>
                        <div class="image-left"><img src="/static/images/media/image-80-80-1.jpg" alt=""/></div>
                        <div class="text-box-right">
                            <h6 class="less-mar3 roboto-slab nopadding"><a href="#">Кухни Лофт</a></h6>
                            <p>$12.59</p>
                            <div class="footer-post-info"><span><i class="fa fa-star"></i></span><span><i
                                    class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i
                                    class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                        </div>
                    </div>
                </div>
                <!--end item-->

            </div>
        </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <section class="section-copyrights section-white-2 sec-moreless-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5 bmargin">
                    <ul class="payment-type">
                        <li>Принимаем</li>
                        <li><img src="/static/images/media/591.jpg" alt=""/></li>
                        <li><img src="/static/images/media/592.jpg" alt=""/></li>
                        <li><img src="/static/images/media/593.jpg" alt=""/></li>
                        <li><img src="/static/images/media/594.jpg" alt=""/></li>
                        <li><img src="/static/images/media/595.jpg" alt=""/></li>
                    </ul>
                </div>
                <div class="col-md-4 bmargin"><span>Copyright © 2020 <a
                        href="https://1.envato.market/hasta-html-by-codelayers">обращаться</a> к <a
                        href="https://1.envato.market/codelayers">veneberg81.ru</a> | Все права защищены.</span></div>
                <div class="col-md-3 bmargin">
                    <ul class="social-icons-3 dark-2 no-margin-left pull-right">
                        <li class="first"><a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <a href="#" class="scrollup red-4"></a><!-- end scroll to top of the page-->
</div>
<!-- end site wraper -->

<!-- ============ JS FILES ============ -->

<script type="text/javascript" src="/static/js/universal/jquery.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/masterslider/jquery.easing.min.js"></script>
<script src="/static/js/masterslider/masterslider.min.js"></script>
<script type="text/javascript">
    (function ($) {
        "use strict";
        var slider = new MasterSlider();
        // adds Arrows navigation control to the slider.
        slider.control('arrows');
        slider.control('bullets');

        slider.setup('masterslider', {
            width: 1600,    // slider standard width
            height: 630,   // slider standard height
            space: 0,
            speed: 45,
            layout: 'fullwidth',
            loop: true,
            preload: 0,
            autoplay: true,
            view: "parallaxMask"
        });

    })(jQuery);
</script>
<script src="/static/js/mainmenu/customeUI.js"></script>
<script src="/static/js/scrolltotop/totop.js"></script>
<script src="/static/js/mainmenu/jquery.sticky.js"></script>
<script src="/static/js/pagescroll/animatescroll.js"></script>

<script src="/static/js/scripts/functions.js" type="text/javascript"></script>
</body>
</html>