{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    <div id="header">
        <div class="container">
            <div class="navbar red-2 navbar-default yamm">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid"
                            class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button>
                </div>
                <div id="navbar-collapse-grid" class="navbar-collapse collapse">
                    {% include 'mainapp/includes/inc_menu.html' %}
                    <br/>
                    <a href="Sales-and-deals.html" class="dropdown-toggle pull-right btn btn-red btn-xround">Offers
                        Zone</a></div>
            </div>
        </div>
    </div>
    <!--end menu-->
{% endblock menu %}

{% block content %}
    <div class="clearfix"></div>

    <section>
        <div class="header-inner two">
            <div class="inner text-center">
                <h4 class="title text-white uppercase roboto-slab">Spring/Summer</h4>
                <h5 class="text-white uppercase">Collections</h5>
            </div>
            <div class="overlay bg-opacity-5"></div>
            <img src="http://placehold.it/1920x800" alt="" class="img-responsive"/></div>
    </section>
    <!-- end header inner -->
    <div class="clearfix"></div>

    <section>
        <div class="pagenation-holder">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Shop With Sidebar</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="pagenation_links"><a href="index.html">Home</a><i>/</i> Shop With Sidebar</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    <div class="clearfix"></div>

    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <!--products-->
                <div class="col-md-9">
                    {% for product in same_products %}
                        <div class="col-md-4 col-sm-6 bmargin pmargin">
                            <div class="shop-product-holder">
                                <a href="{{ product.image_href }}">
                                    <div class="image-holder">
                                        <div class="hoverbox"><i class="fa fa-link"></i></div>
                                        <img src="{% static 'images/media/' %}{{ product.image_src }}"
                                             alt="{{ product.alt }}" class="img-responsive"/>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <br/>
                            <h5 class="less-mar1 roboto-slab"><a href="{{ product.image_href }}">{{ product.name }}</a>
                            </h5>
                            <p>{{ product.desc }}</p>
                            <h5 class="text-red-4">{{ product.price }}</h5>
                            <br/>
                            <a class="btn btn-red-4 btn-small" href="#">В корзину</a>
                        </div>
                        <!--end item-->
                    {% endfor %}
                </div>


                <div class="col-md-3">
                    <div class="col-md-12 nopadding">
                        <div class="blog1-sidebar-box">
                            <h6 class="uppercase roboto-slab">Поиск</h6>
                            <div class="clearfix"></div>
                            <input class="blog1-sidebar-serch_input" type="search" placeholder="найди меня">
                            <input name="" value="Найти" class="blog1-sidebar-serch-submit" type="submit">
                        </div>
                    </div>
                    <!--end sidebar box-->

                    <div class="col-md-12 nopadding">
                        <div class="blog1-sidebar-box">
                            <h6 class="uppercase roboto-slab">Категории</h6>
                            <div class="clearfix"></div>
                            {% include 'mainapp/includes/inc_categories_menu.html' %}
                        </div>
                    </div>
                    <!--end sidebar box-->

                    <div class="col-md-12 nopadding">
                        <div class="blog1-sidebar-box">
                            <h6 class="uppercase roboto-slab">Featured Products</h6>
                            <div class="clearfix"></div>
                            <div class="blog1-sidebar-posts red-4">
                                <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
                                <div class="text-box-right">
                                    <h6 class="less-mar3 nopadding roboto-slab"><a href="#">Fashion</a></h6>
                                    <p>$30.99</p>
                                    <div class="post-info"><span><i class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                                </div>
                            </div>
                            <!--end item-->

                            <div class="blog1-sidebar-posts red-4">
                                <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
                                <div class="text-box-right">
                                    <h6 class="less-mar3 nopadding roboto-slab"><a href="#">Designer Top</a></h6>
                                    <p>$30.99</p>
                                    <div class="post-info"><span><i class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                                </div>
                            </div>
                            <!--end item-->

                            <div class="blog1-sidebar-posts red-4">
                                <div class="image-left"><img src="http://placehold.it/80x80" alt=""/></div>
                                <div class="text-box-right">
                                    <h6 class="less-mar3 nopadding roboto-slab"><a href="#">Fashion</a></h6>
                                    <p>$30.99</p>
                                    <div class="post-info"><span><i class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i
                                            class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span></div>
                                </div>
                            </div>
                            <!--end item-->
                        </div>
                    </div>
                    <!--end sidebar box-->

                    <div class="col-md-12 nopadding">
                        <div class="blog1-sidebar-box">
                            <h5 class="uppercase dosis">Tags</h5>
                            <div class="clearfix"></div>
                            <ul class="shop-tags">
                                <li><a href="#">Animation</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">UI Design</a></li>
                                <li><a href="#">Photography</a></li>
                                <li><a class="active" href="#">Design</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Responsive</a></li>
                                <li><a href="#">Develop</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--end sidebar box-->

                </div>
                <!--end right-->
            </div>
        </div>
    </section>
    <!-- end section -->

{% endblock content %}