{% extends 'authnapp/base.html' %}
{% load static %}

{% block leftregmenu %}
    {% include 'mainapp/includes/inc_left_reg_menu.html' %}
{% endblock leftregmenu %}

{% block rightregmenu %}
    {% include 'mainapp/includes/inc_reg_menu.html' %}
{% endblock rightregmenu %}

{% block menu %}
    <div id="header">
        <div class="container">
            <div class="navbar red-2 navbar-default yamm">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid"
                            class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button>
                </div>
                <div id="navbar-collapse-grid" class="navbar-collapse collapse">
                    {% include 'mainapp/includes/inc_menu.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock menu %}

{% block content %}
    <div class="h3 text-center head">
                Войти в магазин
            </div>
    <div class="short_space_login"  style="
    width: 300px !important;
    text-align: center !important;
    display: block !important;
    margin: auto !important;
">

        <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <br>
            <input class="form-control" type="submit" value="войти">
        </form>
        <button class="btn btn-round form-control">
            <a href="{% url 'auth:register' %}" class="">
                зарегистрироваться
            </a>
        </button>
    </div>
{% endblock content %}